<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="add_styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="add_patient.html">Sign Up</a></li>
        </ul>
    </nav>
</header>
<body>

    <div class="container">
        <h1>Patient Profile</h1>
        <label for="photo">
            <input type="file" id="profile_image" name="profile_image" onchange="previewImage(this)" />
            <img  src="../static/images/default-image.png" alt="Profile Image">
        </label>

        <label for="firstName">First Name:</label>
        <input type="text" id="first-name" name="first-name" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phone-number" name="phone-number" required>

        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" required>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="city">City:</label>
        <input  id="city" name="city" required>

        <label for="street">Street:</label>
        <textarea id="street" name="street" required></textarea>

        <button type="submit">Save Profile</button>
    </div>

    <script>
        // Function to display a preview of the selected image
        document.getElementById('photo').addEventListener('change', function (event) {
            var preview = document.getElementById('preview');
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        });
    </script>

</body>
</html>
