<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="add_styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="add_patient.html">Sign Up</a></li>
        </ul>
    </nav>
</header>
<body>

    <div class="container">
        <h1>Patient Profile</h1>
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*">
        <img id="preview" src="doctor-photo.jpg">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required>

        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birthDate" name="birthDate" required>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="4" required></textarea>

        <label for="id">Patient ID:</label>
        <input type="text" id="id" name="id" required>

        <button type="submit">Save Profile</button>
    </div>

    <script>
        // Function to display a preview of the selected image
        document.getElementById('photo').addEventListener('change', function (event) {
            var preview = document.getElementById('preview');
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        });
    </script>

</body>
</html>
