<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="add_styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="add_patient.html">Sign Up</a></li>
        </ul>
    </nav>
</header>
<body>

    <div class="doctor-container">
        <div class="doctor-profile">
            <h1>Patient Profile</h1>

            <section class="main-info">
                <h2>Main Information</h2>
                <label>Patient ID:</label>
                <p>DOC001</p>
            </section>

            <section class="personal-info">
                <h2>Personal Information</h2>
                <label>First Name:</label>
                <p>John</p>

                <label>Last Name:</label>
                <p>Doe</p>

                <label>Birth Date:</label>
                <p>1980-01-01</p>

                <label>Gender:</label>
                <p>Male</p>
            </section>

            <section class="contact-info">
                <h2>Contact Information</h2>
                <label>Phone Number:</label>
                <p>123-456-7890</p>

                <label>Address:</label>
                <p>123, 7th district, Giza</p>
            </section>
        </div>
    </div>

</body>
</html>
