<!-- patient_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_styles.css') }}">
    <style>
        /* Add any additional styling specific to the patient profile page here */
    </style>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sign_in" target="_blank">Sign In</a></li>
                <li><a href="/new_patient" target="_blank">Sign Up</a></li>
                <li><a href="/contact_us" target="_blank">Contact Us</a></li>
                <li><a href="/my_appointments/{{session.patient_info.patientid}}" target="_blank">My Appointments</a></li>
                <li><a href="/find_doctor" target="_blank">Find Doctors</a></li>
                <li><a href="/my_prescriptions/{{session.patient_info.patientid}}" target="_blank">My Prescription</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    {% if session.get('logged_in') %}
        <section class="personal-info">
            <div class="profile-container">
                <div class="profile">
                    <img src="{{ session.patient_info.patientimage }}" alt="Patient Photo">
                    <label>First Name: {{ session.patient_info.firstname }}</label>
                    <label>Last Name: {{ session.patient_info.lastname }}</label>
                    <label>Birth Date: {{ session.patient_info.dateofbirth }}</label>
                    <label>Gender: {{ session.patient_info.gender }}</label>
                    <!-- Additional information from the patient table -->
                    <label>City: {{ session.patient_info.city }}</label>
                    <label>Street: {{ session.patient_info.street }}</label>
                    <label>Phone Number: {{ session.patient_info.phonenumber }}</label>
                </div>
            </div>
        </section>
    {% endif %}
</body>
</html>
